/* colour pallette
192231 raisin black
494E6B independence
D5DFEC beau blue
98878F taupe gray
985E6D rose dust 

font-family: 'Lato', sans-serif;
*/

::-webkit-scrollbar { 
	
	width: 0 ! important ;
	background: linear-gradient(to bottom right, #192231, #494E6B, #985E6D);

}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin-left: 0;
	margin-right: 0;
}

body {
	background-image: linear-gradient(to bottom right, #192231, #494E6B, #985E6D);
	color: #D5DFEC;
	overflow: hidden;
}

#logolink {
	text-decoration: none;
	color: #192231;
}

.grade {
	display: none;
}

.error {
	color: #985E6D;
}

#top {
	display: block;
	margin-bottom:50px;
}



button {
	cursor: pointer;
}

#loginbox button {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 20px;
	font-weight: 300;
	width: 100px;
	height: 50px;
}

#signupbox button[type="submit"] {
	border: 4px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 20px;
	font-weight: 300;
	width: 180px;
	height: 50px;
}

#newpostbox button {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 20px;
	font-weight: 300;
	width: 50%;
	height: 60px;
}

#newpostbox button[type="submit"] {
	width: 100px;
	height: 50px;
}

#header a {
	position:relative;
}

#saveeditbio {
	border: 2px solid #D5DFEC;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 20px;
	font-weight: 300;
	width: 160px;
	height: 50px;
}



#logo {
	display: inline;
	text-align: left;
	height: 50px;
}

#header {
	display: block;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
	padding-left: 5px;
	padding-right: 5px;
	height:50px;
	background: rgba(213, 223, 236, 1);
	color: #192231;
	font-size: 20px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav a:not(:first-child) {display: none;}

.topnav {
	height: 50px;
}

/* Style navigation menu links */
.topnav a {
  position:relative;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-transform:uppercase;
  font-size: 17px;
  display: block;
  background-color:rgba(166, 126, 189, 0.8);;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgba(166, 201, 174, 0.8);
  display: block;
  position:absolute;
  float:right;
  right: 0;
  top: 0;
  font-size:20px; 

}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #A6C9AE;
	color:#474954;
  }
  
  
  /* Style the active link (or home/logo) */
  .active {
	background-color: rgba(82, 48, 124, 0.8) !important;
	color: #FDFFFC;
	font-size: 20px !important;
  }
  .active:hover{
	  color: #FDFFFC !important;
  }
  
	.topnav.responsive {position: fixed;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}



.navlinks img {
    margin-top: -5;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 1%;
    padding-right: 1%;
    width: 12%;
}


.loginsignup {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95vw;
	height: 90vh;
}

.logsign {
	border: 10px solid #D5DFEC;
	filter: drop-shadow(-5px 5px 0.75rem #192231);
	background-color: #494E6B;
	text-align:center;
	border-radius: 6px;
	position: absolute;
	display: table;
}

#loginbox {
	width: 40%;
	height: 40%;

}

#newpostbox {
	width: 40%;
	height: 40%;

}

#table {
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
}

.title {
	font-size: 40px;
	font-weight: 300;
	margin: 0;
}

#title {
	padding-top: 5%;
}

.logsign a {
	color: #D5DFEC;
}

#loginbox button {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 20px;
	font-weight: 300;
	width: 100px;
	height: 50px;
}
::placeholder {
	color:#192231;
	text-align: center;
	font-size: 15px;
}

input[type="text"], .loginsignupinfo {
	background-color: #D5DFEC;
	font-size: 15px;
	height:50px;
	width: 250px;
	text-align: center;
	border-radius: 2px;
}

#searchBar {
	border: none;
	margin:0;
}

.homefilters {
	background-color: #D5DFEC;
	color: #192231;
	font-size: 15px;
	height:50px;
	width:100px;
	text-align: center;
	border-radius: 2px;
	border: none;
	cursor: pointer;
	margin: 0;
}

#postCaption {
	background-color: #D5DFEC;
	font-size: 15px;
	height:50px;
	width: 250px;
	text-align: center;
	border-radius: 2px;
}

#signupbox{
	width: 40%;
	height: 90%;
	margin-top: 3%;
	overflow-x: scroll;
}

#signup {
	margin-top: 4%;
}

#bio {
	resize: none;
	background-color: #D5DFEC;
	color: #192231;
	padding: 2%;
}

#bioonprofile {
	padding: 2%;
	word-wrap: break-word;
}


#grade {
	height: 30px;
	width: 120px;
	background-color: #D5DFEC;
	color: #192231;
}

#wrapper {
	position: relative;
}

#birthdate {
	background-color: #D5DFEC;
	height: 40px;
	width: 130px;
}

#table input[type="file"] {
	opacity: 0;
}

#tos {
	text-decoration: underline;
	cursor: pointer;
}

#profile {
	position: absolute;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}

#profilepicinput {
	width: 200px;
	cursor:pointer;
	height: 50px; 
	background-color: #D5DFEC;
	color:#192231;
	border-radius: 2px;
}

#fileToUpload {
	height: 50px;
	width: 200px;
	cursor: pointer;
}

.profilebuttons {
	border: 2px solid #192231;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 20px;
	font-weight: 300;
	padding-left: 5%;
	padding-right: 5%;
	height: 50px;
	cursor: pointer;
}

.profilebuttons:hover {
	background-color: white;
}




#profilepagefull {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95vw;
	height: 90vh;
}

#profilebox {
	width: 95vw;
	height: 100vh;
	top:50px;
}

/* #sizer {
	float: left;
	margin-right: 50px;
	width:30%;
	position: fixed;
} */

#userinfobox {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	margin-left:10%;
	margin-right: 10%;
	width:30%;
	height: 100%;
	text-align: center;
}

#userinfoprofile {
	background: #D5DFEC;
	color: #192231;
	width: 100%;
	height: 100%;
}

#postsonprofile {
	float: right;
	margin-right: 10%;
	width: 40%;
	height: 100%;
	background-color: #D3D3D322;
	overflow-y: scroll;
	
}

.pfp {
	height:300px;
	width:300px;
	border-radius: 50%;
	object-fit: cover;
}


#captionInput {
	resize: none;
	width: 50%;
	border-radius: 6px;
	background-color: #D5DFEC;
	color: #192231;
}

#postnav {
	width: 100%;
	text-align: center;
}

#postnav > * {
	margin: 0 3%;
}

#explorebox, #homebox, #inboxbox, #editprofilebox {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	height: 100vh;
	background-color: #D5DFEC22;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10%;
	overflow-y: scroll;
}


#usernameonhome {
	color: #192231;
}

#makefriends {
	color:#D5DFEC;
}





#comments {
	width: 100%;
	height: 75px;
	overflow-y: scroll;

}

.comment {
	color: #D5DFEC;
	text-align: center;
}

#addcomment {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 15px;
	font-weight: 300;
	width: 120px;
	height: 35px;
	margin-left: 0.5%;
}

.deletecomment {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 15px;
	font-weight: 300;
	width: 80px;
	height: 30px;
	margin-top:5px;
	margin-left: 0.5%;
}

.editdelete {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 15px;
	font-weight: 300;
	width: 80px;
	height: 30px;
	margin-top:5px;
}

#commentform {
	width: 100%;
	text-align: center;
}

#editpost {
	display: inline;
	justify-content: flex-start;
}

#x, #xEdit {
	color: white;
	font-size: 40px;
	font-weight: bold;
	display: inline;
	justify-content: center;
}

#x:hover, #xEdit:hover {
	cursor: pointer;
	opacity: 50%;
}


#deletepost {
	display: inline;
	justify-content: flex-end;
}

#like {

	color: #985E6D;
	
	cursor: pointer;

}

#saveEditPost {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 15px;
	font-weight: 300;
	width: 120px;
	height: 35px;
}

#makeNewPost {
	text-align:center;
}

#makeNewPost a {
	color: #D5DFEC;
}


/* Lightbox */
#lightbox, #editLightbox {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom right, #192231, #494E6B, #985E6D);
	opacity: 0.95;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	
	z-index: 1;
}

#termsofservice {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1); 
	
	flex-direction: column;
    justify-content: center;
    align-items: center;
	
	z-index: 2;
}


.hidden {
	display: none;
}
.unhidden {
	display: block;
}

.unhidden#positionBigImage, .unhidden#lightbox, .unhidden#editLightbox {
	display: flex;
}

#positionBigImage {
	position: fixed;
	/* top:15px; */
	/* left:0px; */
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	z-index: 2;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#boundaryBigImage { 
	margin: 0;
	
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	
	z-index: 3;
}

#content, #contentEdit {
	min-width: 10vw;
	
	max-width: 50vw;
	max-height: 50vh;
    width: auto;
    height: auto;

	display: block;

	z-index: 4;
}


#caption {
	padding: 3vh;
	background-color: rgba(0, 0, 0, 0.05);
	color: white;
	text-align: center;
	z-index: 4;
}



/* Buttons */


#prev, #next {
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    
    margin: auto;
    margin-left: 3vw;
    margin-right: 3vw;
    color: white;
    font-size: 4vh;
    cursor: pointer;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.2);
}

#prev {
	left: 0;
}

#next {
	right: 0;
}

#prev, #next, #x, #like, #xEdit {
	user-select: none;
	z-index: 5;
}








/* End of Lightbox */


.thumbnail {
	display: inline-block;
	margin: 10px;
	background-color: white;
	z-index: -1;
	width: 160px;
	height: 160px;
	object-fit: cover;
	border-radius: 50%;
}

.homethumbnail {
	display: inline-block;
	margin: 10px;
	background-color: white;
	z-index: -1;
	width: 160px;
	height: 160px;
	object-fit: cover;
	border-radius: 0;
}

.caption {
	color: #192231;
	overflow-x: hidden;
}


.card {
    width: 200px;
    text-align: center;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;

}

.card:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (min-width: 1000px) {
	/* Add a black background color to the top navigation */
.topnav {
	background-color:rgba(166,126,189,0.8);
	overflow: hidden;
   top: 0;
	width: 100%;
	position:fixed;
	z-index:1;
  
	 
  }

.topnav a {
	float:left;
	font-size:17px;
}
.topnav img {
	width: 24px;
}


   .topnav a:not(:first-child) {display: block;}
  .icon{
	  visibility:hidden;
  }

.topnav a.active {

	color: #FDFFFC;
	padding:25px;
	padding-left:45px !important;
	padding-right:45px !important;
	font-size:16px !important;
}
}