/* colour pallette
192231 raisin black
494E6B independence
D5DFEC beau blue
98878F taupe gray
985E6D rose dust 

font-family: 'Lato', sans-serif;
*/

::-webkit-scrollbar { 
	
	width: 0 ! important ;
	background: linear-gradient(to bottom right, #192231, #494E6B, #985E6D);

}

.card a {
	color: #192231;
}

#unreadAmount {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	color: #985E6D;


}

.notifusername {
	display: inline;
	align-items: center;
}

#termsofservice {
	text-align: center;
	background-color: #192231 !important;
	color:#D5DFEC !important;
}

#noOne {
	margin-top: 10%;
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin-left: 0;
	margin-right: 0;
}

body {
	background-image: linear-gradient(to bottom right, #192231, #494E6B, #985E6D);
	color: #D5DFEC;
	overflow: hidden;
	word-wrap: break-word;
}

#logolink {
	text-decoration: none;
	color: #192231;
	height: 50px;
}

.grade {
	display: none;
}

.error {
	color: #98878F;
}

#top {
	display: block;
	margin-bottom:50px;
}



button {
	cursor: pointer;
}

#loginbox button {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 20px;
	font-weight: 300;
	width: 100px;
	height: 50px;
}

#signupbox button[type="submit"] {
	border: 4px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 20px;
	font-weight: 300;
	width: 180px;
	height: 50px;
}

#newpostbox button {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 20px;
	font-weight: 300;
	width: 50%;
	height: 60px;
}

#newpostbox button[type="submit"] {
	width: 100px;
	height: 50px;
}

#header a {
	position:relative;
}

#saveeditbio {
	border: 2px solid #D5DFEC;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 20px;
	font-weight: 300;
	width: 160px;
	height: 50px;
}



#logo {
	display: inline;
	text-align: left;
	height: 50px;
}

#header {
	display: block;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
	padding-left: 5px;
	padding-right: 5px;
	height:50px;
	background: rgba(213, 223, 236, 1);
	color: #192231;
	font-size: 20px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav a:not(:first-child) {display: none;}

.topnav {
	height: 50px;
	background-color:#D5DFEC;
	overflow: hidden;
   top: 0;
	width: 100%;
	position:fixed;
	z-index:1;
	
}

/* Style navigation menu links */
.topnav a {
  position:relative;
  padding: 14px 16px;
  font-size: 10px;
  text-decoration: none;
  text-transform:uppercase;
  font-size: 17px;
  display: block;

}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position:absolute;
  float:right;
  right: 0;
  top: 0;
  font-size:20px; 

}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #98878F;
	color:#192231;
  }
  
  
  /* Style the active link (or home/logo) */
  .active {
	
	color: #FDFFFC;
	font-size: 10px !important;
  }
  .active:hover{
	  color: #FDFFFC !important;
  }



.navlinks img {
    line-height: 50px;
    vertical-align: middle;
    padding-left: 1%;
    padding-right: 1%;
}


.loginsignup {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.logsign {
	border: 10px solid #D5DFEC;
	filter: drop-shadow(-5px 5px 0.75rem #192231);
	background-color: #494E6B;
	text-align:center;
	border-radius: 6px;
	position: absolute;
	display: table;
}

#noacc {
	padding-bottom: 5%;
}

#loginbox {
	width: 50%;
	height: 50%;

}

#newpostbox {
	width: 50%;
	height: 50%;

}

#table {
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
}

.title {
	font-size: 40px;
	font-weight: 300;
}

#title {
	padding-top: 5%;
}

#nopostsmessage {
	text-align: center;
	padding: 5%;
}

.notifUser {
	color: #D5DFEC;
}

.logsign a {
	color: #D5DFEC;
}

#loginbox button {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 20px;
	font-weight: 300;
	width: 100px;
	height: 50px;
}
::placeholder {
	color:#192231;
	text-align: center;
	font-size: 15px;
}

input[type="text"], .loginsignupinfo {
	background-color: #D5DFEC;
	font-size: 15px;
	height:50px;
	width: 250px;
	text-align: center;
	border-radius: 2px;
}

#searchBar {
	border: none;
	margin:0;
}

.homefilters {
	background-color: #D5DFEC;
	color: #192231;
	font-size: 15px;
	height:50px;
	width:100px;
	text-align: center;
	border-radius: 2px;
	border: none;
	cursor: pointer;
	margin: 0;
}

#postCaption {
	background-color: #D5DFEC;
	font-size: 15px;
	height:50px;
	width: 250px;
	text-align: center;
	border-radius: 2px;
}

#signup {
	margin-top: 4%;
}

#bio {
	resize: none;
	background-color: #D5DFEC;
	color: #192231;
	padding: 2%;
	text-align: center;
}

#bioonprofile {
	padding: 2%;
	word-wrap: break-word;
}


#grade {
	height: 30px;
	width: 120px;
	background-color: #D5DFEC;
	color: #192231;
}

#wrapper {
	position: relative;
}

	

#tos, #tologin {
	color: #D5DFEC;
	text-decoration: underline;
	cursor: pointer;
}

#toshead, #toshead2 {
	text-decoration: underline;
}

#termsofservice {
	padding: 0 15%;
	overflow-y: scroll;
}

#return {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 18px;
	font-weight: 300;
	width: 180px;
	height: 50px;
}

#profile {
	position: absolute;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}

#profilepicinput {
	width: 200px;
	cursor:pointer;
	height: 50px; 
	background-color: #D5DFEC;
	color:#192231;
	border-radius: 2px;
	pointer-events: none;
}

#fileToUpload {
	height: 60px;
	width: 50%;
	cursor: pointer;
	opacity: 0;
}

.signupfile {
	height: 50px !important;
	width: 200px !important;
	cursor: pointer !important;
	opacity: 0;
	
}

.profilebuttons {
	border: 2px solid #192231;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 18px;
	font-weight: 300;
	padding-left: 5%;
	padding-right: 5%;
	height: 50px;
	cursor: pointer;
	max-width: 300px;
}

.profilebuttons:hover {
	background-color: white;
}




#profilepagefull {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#profilebox {
	width: 100vw;
	height: 100vh;
	margin-top:5vh;
}

/* #sizer {
	float: left;
	margin-right: 50px;
	width:30%;
	position: fixed;
} */

#userinfobox {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	margin-left:10%;
	margin-right: 10%;
	width:30%;
	height: 100%;
	text-align: center;
}

#userinfoprofile {
	background: #D5DFEC;
	color: #192231;
	width: 100%;
	height: 100%;
}

#postsonprofile {
	float: right;
	margin-right: 10%;
	width: 40%;
	height: 100vh;
	background-color: #D3D3D322;
	overflow-y: scroll;
	
}

.pfp {
	height:300px;
	width:300px;
	border-radius: 50%;
	object-fit: cover;
}


#captionInput {
	resize: none;
	width: 50%;
	border-radius: 6px;
	padding: 2%;
	background-color: #D5DFEC;
	color: #192231;
	text-align: center;
	font-size: 15px;
}

#postnav {
	width: 100%;
	text-align: center;
}

#postnav > * {
	margin: 0 3%;
}

input[type="checkbox"] {
	cursor: pointer;
	background: #D5DFEC;
	color: #192231;
}

#inboxbox input[type="checkbox"] {
	margin: 1%;
}


#explorebox, #homebox, #editprofilebox, #signupbox {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	height: 100vh;
	background-color: #D5DFEC22;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 10%;
	overflow-y: scroll;
}

#inboxbox {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	height: 100vh;
	background-color: #D5DFEC22;
	padding-bottom: 10%;
	overflow-y: scroll;
	word-wrap: break-word;
}




#signupbox {
	margin-top: 5px;
}

#inboxbutton {
	width: 100%;
}


#usernameonhome {
	color: #192231;
}

#makefriends {
	color:#D5DFEC;
}





#comments {
	width: 100%;
	height: 100px;
	overflow-y: scroll;

}

.comment {
	color: #D5DFEC;
	text-align: center;
}

#addcomment {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 15px;
	font-weight: 300;
	width: 120px;
	height: 35px;
	margin-left: 0.5%;
}

.deletecomment {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 15px;
	font-weight: 300;
	width: 80px;
	height: 30px;
	margin-top:5px;
	margin-left: 0.5%;
}

.editdelete {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 15px;
	font-weight: 300;
	width: 80px;
	height: 30px;
	margin-top:5px;
}

#commentform {
	width: 100%;
	text-align: center;
}

#editpost {
	display: inline;
	justify-content: flex-start;
}

#x, #xEdit {
	color: white;
	font-size: 40px;
	font-weight: bold;
	display: inline;
	justify-content: center;
}

#x:hover, #xEdit:hover {
	cursor: pointer;
	opacity: 50%;
}


#deletepost {
	display: inline;
	justify-content: flex-end;
}

#like {

	color: #985E6D;
	
	cursor: pointer;

}

#saveEditPost {
	border: 2px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size: 15px;
	font-weight: 300;
	width: 120px;
	height: 35px;
}

#makeNewPost {
	text-align:center;
}

#makeNewPost a {
	color: #D5DFEC;
}


/* Lightbox */
#lightbox, #editLightbox {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom right, #192231, #494E6B, #985E6D);
	opacity: 0.98;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	
	z-index: 1;
}

#termsofservice {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1); 
	
	flex-direction: column;
    justify-content: center;
    align-items: center;
	
	z-index: 2;
}


.hidden {
	display: none;
}
.unhidden {
	display: block;
}

.unhidden#positionBigImage, .unhidden#lightbox, .unhidden#editLightbox {
	display: flex;
}

#positionBigImage {
	position: fixed;
	/* top:15px; */
	/* left:0px; */
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	z-index: 2;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#boundaryBigImage { 
	margin: 0;
	
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	
	z-index: 3;
}

#content, #contentEdit {
	min-width: 10vw;
	filter: drop-shadow(0 0 2rem #192231);
	max-width: 40vw;
	max-height: 40vh;
    width: auto;
    height: auto;

	display: block;
	opacity: 1;
	z-index: 4;
}

#linkToPage {
	color:#D5DFEC;
}


#caption {
	padding: 3vh;
	background-color: rgba(0, 0, 0, 0.05);
	color: white;
	text-align: center;
	z-index: 4;
}



/* Buttons */


#prev, #next {
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    
    margin: auto;
    margin-left: 3vw;
    margin-right: 3vw;
    color: white;
    font-size: 4vh;
    cursor: pointer;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.2);
}

#prev {
	left: 0;
}

#next {
	right: 0;
}

#prev, #next, #x, #like, #xEdit {
	user-select: none;
	z-index: 5;
}








/* End of Lightbox */


.thumbnail {
	display: inline-block;
	margin: 10px;
	background-color: white;
	z-index: -1;
	width: 160px;
	height: 160px;
	object-fit: cover;
	border-radius: 50%;
}

.homethumbnail {
	display: inline-block;
	margin: 10px;
	background-color: white;
	z-index: -1;
	width: 160px;
	height: 160px;
	object-fit: cover;
	border-radius: 0;
}

.caption {
	color: #192231;
	overflow-x: hidden;
}


.card {
    width: 200px;
    text-align: center;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;

}

.card:hover {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#deleteNotifs, #unreadNotifs, #readNotifs {
	border: 4px solid #D5DFEC;
	border-radius: 6px;
	background-color: #D5DFEC;
	color:#192231;
	font-size:17px;
	font-weight: 300;
	width: 150px;
	height: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

.notifs.unread {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(213,223,236, 0.9) !important;
	color: #192231 !important;

}

.notifs.unread .notifUser .notifUsername {
	color: #192231 !important;
	text-decoration: underline solid #192231 !important;

}

.notifs.read {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(73,78,107, 0.9);
	color: #D5DFEC;

}


.notifpfp {
	display: inline;
	width: 30px;
	height: 30px;
	object-fit: cover;
	margin-right: 1%;
	margin-bottom: 1%;
	border-radius: 50%;
	align-items: center;
}

.notiftext {
	display: inline-block;
align-items: center;
word-wrap: break-word;
overflow-wrap: break-word;
}

.notifpostimage {
	display: inline;
	width: 45px;
	height: 45px; 
	object-fit: cover;
	margin: 2%;
	align-items: center;
}

.notifs {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	
}


.thumbnailpfp  {
border-radius: 50%;
max-width: 50px;
max-height: 50px;
object-fit: cover;
}



.topnav {
	background-color:#D5DFEC;
	overflow: hidden;
   top: 0;
	width: 100%;
	position:fixed;
	z-index:1;
  
	 
  }

.topnav a {
	float:left;
	padding: 14px 16px;
}
.topnav img {
	width: 24px;
}


   .topnav a:not(:first-child) {display: block;}
  .icon{
	  visibility:hidden;
  }

.topnav a.active {

	font-size: 10px !important;
}

@media screen and (max-width: 1000px) {
	.pfp {
		width: 150px;
		height: 150px;
	}

	.profilebuttons {
		width: 180px;
		font-size: 16px;
	}


}

@media screen and (max-width: 600px) {
	.topnav a.active {

		display:none;
	}

	.pfp {
		width: 50px;
		height: 50px;
	}

	#links {
		width: 100vw;
	}

	body {
		background: #192231;
		overflow-y: scroll;
	}

	#explorebox, #homebox, #inboxbox, #editprofilebox, #signupbox {
		margin-top: 5%;
	}

	.profilebuttons {
		width: 120px;
		font-size: 14px;
	}

	#profilepicinput label {
		font-size: 15px;
		padding-bottom: 2%;
	}

	#newpostbox button {
		height: 70px;
	} 



}

@media screen and (max-height: 700px) {

#content {
	max-height: 20vh;
	object-fit: cover;
}

}